<!DOCTYPE html>
<html>
  <head>
    <title><%= example.query %></title>
  </head>
  <body>
    <h1><%= example.query %></h1>
    <h3>Release Date: <%= movie.release_date %></h3>
    <h4><em>Director: <%= movie.director %></em></h4>
    <p><%= movie.summary %></p>
    <br />
    <h2>Other Movies</h2>
    <ul>
      <% Example.all.each do |example| %>
        <li><a href="<%= movie.url %>"><%= movie.title %></a></li>
      <% end %>
    </ul>
  </body>
</html>